.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #003B7A, #006CE0);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
    color: #fff;
    z-index: 200;
    transition: all .5s;
}

.sidebar, .sidebar.close {
    /* display: none; */
}

.arrow-left {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-top: 6.25rem;
    font-family: "Russo One", sans-serif;
    font-weight: 100;
}


.icons-box {
    margin: 5rem 0;
}

.perfil-img {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
}

.icons-box li a > i {
    font-size: 1.4rem;
    margin-right: .8rem;
}

.icons-box li {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.icons-box .perfil {
    display: flex;
    align-items: center;
}

.icons-box .perfil img {
    margin-right: .8rem;
}

.icons-box li > a span {
    color: #D0D0D0;
}

.icons-box li > a:hover {
    color: #fff;
}

.icons-box li > a.select {
    font-weight: 700;
    color: #fff;
}


.sidebar.close {
    padding: .8rem;
}

.sidebar.close .arrow-left, .sidebar.close .arrow-right {
    font-size: 1.2rem;
}

.sidebar.close .arrow-left {
    left: 0px;
}

.sidebar.close .arrow-right {
    font-weight: 800;
    position: absolute;
    cursor: pointer;
    top: 1.4rem;
    right: 1.8rem;
}


.sidebar.close h1 {
    display: none;
}

.sidebar.close .icons-box ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: .3rem;
}


.sidebar.close .icons-box li  {
    margin: 2rem 0;
}

.sidebar.close .icons-box li a {
    color: #D0D0D0;
}
.sidebar.close .icons-box li a:hover {
    color: #fff;
}

.sidebar .icons-box ul li > a.select {
    color: #fff;
}
.sidebar.close .icons-box ul li > a.select {
    color: #fff;
}

.sidebar.close .icons-box li > a span {
    display: none;
}

.arrow-left {
    display: none; 
}

.select {
    color: #fff !important;
}